.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
}
.review{
    background-color:rgba(0, 128, 128, 0.76);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    font-size: 20px;
}
.review:hover{
    background-color: teal;
    color: white;
}

@media screen and (max-width:1100px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
